<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kotlinbasic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.KotlinBasic">
        <activity
            android:name=".practise.Navigation.NavigationActivity"
            android:exported="false" />

        <activity
            android:name="com.example.kotlinbasic.practise.SharedViewModel.ShareMainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.kotlinbasic.practise.Paging.PagingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.kotlinbasic.practise.mvvm_kotlin.MvvmActivity"
            android:exported="false" />
        <activity
            android:name="com.example.kotlinbasic.practise.LiveData.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.androidbasic.Activity.ButtonClick"
            android:exported="false" />
        <activity
            android:name="com.example.kotlinbasic.practise.mvvm_retrofit.MovieActivity"
            android:exported="true" />
    </application>

</manifest>